body {
    background-color: #FFFDFA;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color : #333332;
}
section {
    margin: 3% 0;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 2% 0;
}
h2 {
    padding: 3% 0;
}
#contact {
    margin-bottom: 0;
}
#contact p {
    margin-bottom: 0;
    display: inline-block;
    margin: auto 0;
}
.contact-wrapper {
    padding: 2% 0;
}
#contact a {
    text-decoration: none;
    color: #FFFDFA;
}
#contact i {
    display: inline-block;
}
.icons-p {
    padding-left: 1.5rem;
}
.padding-p {
    padding-bottom: 2%;
}
.col-md-6 > * {
    padding: 3% 0;
}
.btn {
    margin: 2% 0;
}
.container-blue {
    background: rgb(147,193,255);
    background: linear-gradient(50deg, rgba(147,193,255,1) 35%, rgba(99,111,243,1) 100%);
    color: #FFFDFA;
}
.nav-item {
    padding: 0 2rem;
}
.navbar {
    padding: 3% 15%;
    font-size: 1rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
footer {
    padding-top: 3%;
}
